SSH_PASSWORD=changeme
VPN_HOST=<your-vpn-host-address>:<your-port>
# Paste the sha256:xxxx fingerprint from the certificate here (if needed):
TRUSTED_CERT=<your-cert>
# Set to 1 to keep the VPN alive. If not it will disconnect per your VPN server settings (30 min idle disconnect)
KEEPALIVE = 0
